<h1> Board Index </h1>

<%= link_to 'Create a new board', new_board_path %>
<hr />

<ui>
<% @boards.by_title.each do |board| %>
<li>
<%= link_to "#{board.title}", board_path(board) %>
<%= link_to "Edit", edit_board_path(board) %>
<%= link_to 'Delete', board, method: :delete %>
</li>
<% end %>
</ui>